//Global
@import './global/fonts';
@import './global/var';
@import './global/reset';
@import './global/global';

//ui
@import './ui/btn';

//moduls
@import './moduls/title';

//sections
// @import './sections/header';

@import './sections/cover';
@import './sections/whom';
@import './sections/reasons';
@import './sections/description';
@import './sections/course';
@import './sections/support';
@import './sections/who';
@import './sections/experts';
@import './sections/rates';
@import './sections/videos';
@import './sections/images';
@import './sections/questions';

@import './sections/footer';

.new {
  border-radius: 10px;
  background-color: #4547f4;
  padding: 3px 18px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0;
  }
}

.other {
  max-width: 320px;
  margin: 0 auto;
}
